option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py

container_commands:
  00_upgrade_requirements:
    command: "/opt/python/run/venv/bin/pip install --upgrade -r /opt/python/ondeck/app/requirements.txt"
    ignoreErrors: true
  01_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
