<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message.message }}</div>
      {% endfor %}
    {% endif %}

    <div class="container">
      <div class="page-header">
        <p class="lead">GENOME LINK example</p>
      </div>

      {% if reports %}
        {% for report in reports %}
          {# Now you can display the reports. #}
          <p>#{{ forloop.counter }} {{ report.phenotype.display_name }}</p>
          <pre>&gt;&gt;&gt; report.phenotype['display_name']
{{ report.phenotype.display_name }}
&gt;&gt;&gt; report.summary['text']
{{ report.summary.text }}</pre>
        {% endfor %}
      {% else %}
      <form action="/" method="POST">
        {% csrf_token %}
        <script src="https://sdk.genomelink.io/genomelink.js"
                class="genomelink-button"
                data-key="{{ GENOMELINK_CLIENT_ID }}">
        </script>
      </form>
      {% endif %}
    </div>
  </body>
</html>
