<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message.message }}</div>
      {% endfor %}
    {% endif %}

    <div class="container">
      <div class="page-header">
        <p class="lead">Genomelink example</p>
      </div>

      {% if reports %}
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Trait or intervention name</th>
              <th>Score code</th>
              <th>Score text</th>
            </tr>
          </thead>
          <tbody>
            {% for key, report in reports.items %}
            <tr>
              <td>{{ report.name }}</td>
              <td><code>{{ report.score.code }}</code></td>
              <td>{{ report.score.text }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <form action="/" method="POST">
        {% csrf_token %}
        <script src="https://sdk.genomelink.io/genomelink.js"
                class="genomelink-button"
                data-key="{{ GENOMELINK_CLIENT_ID }}"
                >
        </script>
      </form>
      {% endif %}
    </div>

  </body>
</html>
