<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message.message }}</div>
      {% endfor %}
    {% endif %}

    <div class="container">
      <div class="page-header">
        <p class="lead">GENOME LINK example</p>
      </div>

      {% if reports %}
        <div style="min-width: 800px; margin-bottom: 30px;">
          <canvas id="my-chart"></canvas>
        </div>

        <div>
          <table class="table">
            <thead>
              <tr>
                <th>Phenotype</th>
                <th>Genetic tendency</th>
              </tr>
            </thead>
            <tbody>
              {% for report in reports %}
              <tr>
                <td>{{ report.phenotype.display_name }}</td>
                <td>{{ report.summary.text }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      {% else %}
      <form action="/" method="POST">
        {% csrf_token %}
        <script src="http://localhost:8000/static/js/genomelink/genomelink.js"
                class="genomelink-button"
                data-key="{{ GENOMELINK_CLIENT_ID }}"
                data-email="me@genomelink.io"
                >
        </script>
      </form>
      {% endif %}
    </div>

    {% if reports %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script>
    var myRadarChart = new Chart('my-chart', {
      type: 'radar',
      data: {
        labels: [{% for report in reports %}'{{ report.phenotype.display_name }}',{% endfor %}],
        datasets: [
          {
            data: [{% for report in reports %}{{ report.summary.score }},{% endfor %}]
          }
        ],
      },
      options: {
        legend: {
          display: false
        },
        scale: {
          ticks: {
            display: false,
            maxTicksLimit: 5,
            beginAtZero: true,
            max: 4
          },
          pointLabels: {
            fontSize: 13
          }
        },
      },
    });
    </script>
    {% endif %}
  </body>
</html>
